@use '../../styles/colors';
@use '../../styles/layout';
@use '../../styles/mixins';

.upgradeShop{

    margin: 10px auto;
    width: 100%;
    max-width: 500px;
    background-color: colors.$greyLighter2;
    padding: 10px ;
    max-height: 100%;
    border: 10px;
    border-radius: 10%;

    .increaseClickIncrement {
        display:flex;
        margin: -50px 0px 0px 0px; 
        button{
            margin: 10px 0px 0px 0px;
            max-height: 50px;
        }
        p {
            width: 100%;
            max-width: 350px;
            padding: 0px 5px 0px 10px;
            max-height: 50px;
            font-size: 15px;
            line-height: 15px;
        }

    }
    .activateAutoclick {
        display:flex;
        button{
            margin: 10px 0px 0px 0px;
            width: 150px;
            max-height: 50px;
            height: 50px;
        }
        p {
            width: 100%;
            max-width: 350px;
            padding: 0px 5px 0px 10px;
            max-height: 50px;
            font-size: 15px;
            line-height: 15px;
        }
    }
    .reset {
        display:flex;
        button{
            margin: 10px 0px 0px 0px;
            width: 150px;
            max-height: 50px;
            height: 50px;
        }
        p {
            width: 100%;
            max-width: 350px;
            padding: 0px 5px 0px 10px;
            max-height: 50px;
            font-size: 15px;
            line-height: 15px;
        }
    }
}