@use '../../styles/colors';
@use '../../styles/layout';
@use '../../styles/mixins';

.navbar {
  background-color: colors.$greyLighter2;

  .navContainer {
    display: flex;
    margin: 0px 20px;
    .image {
      display: flex;
      flex: 0 1 100px;
      img{
        width:100% ;
        object-fit: contain;
      }
    }

    .titleText {
      flex: 1 1 100%;
      text-align: center;
    }
    
  }
}

// .mobile {
//   display: none;
//   @media screen and (max-width: layout.$md) {
//     display: flex;
//   }

  // img {
  //   width: 128px;
  //   height: 96px;
  //   object-fit: contain;
  // }
// }
 